{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Login
{% endblock %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    <p>{{ form.username|as_crispy_field }}</p>
    <p>{{ form.password|as_crispy_field }}</p>
    <div style="color:red">{% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    </div>
    <input type="submit" value="Login" class="btn btn-primary"></input>
  </form>
{% endblock %}
