@import url(https://fonts.googleapis.com/css?family=Nunito);

:root {
    --aristotle-blue: #2395d8;
    --aristotle-blue-text: #2395d8;
    --light-aristotle-blue: #daf1ff;
    --fog-gray: #c4d3dd;
    --dark-fog-gray: #a0b5c4;
    --extra-dark-fog-gray: #7c8b96;
    --main-font: 'Nunito';
    --main-margin: 50px;
    --transition-time: 0.2s;

    --white-text: white;
    --black-text: black;
    --main-background: white;
    --input-background: white;
    --always-white: white;
    --muted-gray: #eee;
}
[data-theme="dark"] {
    --aristotle-blue: #2e485a;
    --aristotle-blue-text: #6b98b3;
    --light-aristotle-blue: #1f303b;
    --fog-gray: #27292a;
    --dark-fog-gray: #2d2e2f;
    --extra-dark-fog-gray: rgb(49, 58, 63);

    --main-background: #222;
    --white-text: black;
    --black-text: #bbb;
    --input-background: #27292a;
    --always-white: #bbb;
    --muted-gray: #555;
}

html {
    background-color: var(--main-background);
    transition: var(--transition-time);
}

body {
    font-family: var(--main-font);
    margin: 0px;
    display: flex;
    height: 100%;
    flex-direction: column;
    color: var(--black-text);
    transition: var(--transition-time);
}

#pagehead {
    color: var(--always-white);
    background-color: var(--aristotle-blue);
    font-size: xx-large;
    font-weight: bold;
    padding: var(--main-margin);
    padding-bottom: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    transition: var(--transition-time);
}
a {
    text-decoration: none;
}

#fullcontainer {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#pagefoot {
    display: flex;
    flex-direction: row;
    padding: 30px;
    min-height: fit-content;
    align-items: center;
    justify-content: space-between;
    color: var(--always-white);
    background-color: var(--extra-dark-fog-gray);
    transition: var(--transition-time);
}

#content {
    margin: var(--main-margin);
    width: 100%;
    height: fit-content;
}

#navbar {
    background-color: var(--fog-gray);
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 200px;
    transition: var(--transition-time);
}
#navbar ul {
    list-style-type: none;
    padding-left: 0;
}
#navbar li {
    padding: 10px 20px;
    color: var(--black-text);
}
#navbar a li {
    cursor: pointer;
}
#navbar a li:hover {
    background-color: var(--dark-fog-gray);
}

h2 {
    color: var(--aristotle-blue-text);
}

#fullcontainer a {
    color: var(--aristotle-blue-text);
    text-decoration: none;
}
#fullcontainer a:hover {
    opacity: 0.7;
}

input {
    font-family: 'Nunito';
    font-size: medium;
    padding: 5px;
    border: solid 1px var(--aristotle-blue);
    margin: 5px;
    border-radius: 5px;
    background-color: var(--input-background);
    color: var(--black-text);
}
input:focus {
    outline: none;
}
textarea {
    font-family: 'Nunito';
    min-height: 50vh;
    min-width: 70vw;
    font-size: medium;
    padding: 10px;
    border: solid 1px var(--aristotle-blue);
    margin: 5px;
    border-radius: 5px;
    background-color: var(--input-background);
    color: var(--black-text);
}
textarea:focus {
    outline: none;
}
input[type=submit]{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--aristotle-blue);
    color: white;
    cursor: pointer;
}
input[type=submit]:hover{
    opacity: 0.7;
}

.button {
    border-radius: 10px;
    color: white;
    background-color: var(--aristotle-blue);
    padding: 10px;
    min-width: 100px;
    width: max-content;
    text-align: center;
    cursor: pointer;
}
.button:hover {
    opacity: 0.7;
}

.cutebox {
    border-radius: 10px;
    background-color: var(--light-aristotle-blue);
    padding: 10px 30px;
    margin: 10px;
}
a .cutebox:hover {
    opacity: 0.7;
}

