@import url(https://fonts.googleapis.com/css?family=Nunito);

:root {
    --aristotle-blue: #2395d8;
    --light-aristotle-blue: #daf1ff;
    --fog-gray: #c4d3dd;
    --dark-fog-gray: #a0b5c4;
    --extra-dark-fog-gray: #7c8b96;
    --main-font: 'Nunito';
    --main-margin: 50px;
}

body {
    font-family: var(--main-font);
    margin: 0px;
    display: flex;
    height: 100%;
    flex-direction: column;
}

#pagehead {
    color: white;
    background-color: var(--aristotle-blue);
    font-size: xx-large;
    font-weight: bold;
    padding: var(--main-margin);
    padding-bottom: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
a {
    text-decoration: none;
}

#fullcontainer {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#pagefoot {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--extra-dark-fog-gray);
}

#content {
    margin: var(--main-margin);
    width: 100%;
    height: fit-content;
}

#navbar {
    background-color: var(--fog-gray);
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 200px;
}
#navbar ul {
    list-style-type: none;
    padding-left: 0;
}
#navbar li {
    padding: 10px 20px;
    color: black;
}
#navbar a li {
    cursor: pointer;
}
#navbar a li:hover {
    background-color: var(--dark-fog-gray);
}

h2 {
    color: var(--aristotle-blue);
}

#fullcontainer a {
    color: var(--aristotle-blue);
    text-decoration: none;
}
#fullcontainer a:hover {
    opacity: 0.7;
}

input {
    font-family: 'Nunito';
    font-size: medium;
    padding: 5px;
    border: solid 1px var(--aristotle-blue);
    margin: 5px;
    border-radius: 5px;
}
input:focus {
    outline: none;
}
textarea {
    font-family: 'Nunito';
    min-height: 50vh;
    min-width: 70vw;
    font-size: medium;
    padding: 10px;
    border: solid 1px var(--aristotle-blue);
    margin: 5px;
    border-radius: 5px;
}
textarea:focus {
    outline: none;
}
input[type=submit]{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--aristotle-blue);
    color: white;
    cursor: pointer;
}
input[type=submit]:hover{
    opacity: 0.7;
}

.button {
    border-radius: 10px;
    color: white;
    background-color: var(--aristotle-blue);
    padding: 10px;
    min-width: 100px;
    width: max-content;
    text-align: center;
    cursor: pointer;
}
.button:hover {
    opacity: 0.7;
}

.cutebox {
    border-radius: 10px;
    background-color: var(--light-aristotle-blue);
    padding: 10px 30px;
    margin: 10px;
}
a .cutebox:hover {
    opacity: 0.7;
}

