.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin: 0px 30px;
}

.theme-switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 40px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: white;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: var(--transition-time);
}

.slider:before {
    background-color: var(--dark-fog-gray);
    bottom: 5px;
    content: "";
    height: 10px;
    left: 5px;
    position: absolute;
    transition: .4s;
    width: 10px;
}

input:checked + .slider {
    background-color: var(--aristotle-blue-text);
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
