{% extends 'base.html' %}

{% block title %}
Assignment Details
{% endblock %}

{% block content %}
<h2>Assignment: {{assignment.title}}</h2>
<p><i>
    <b>Start date: </b>{% if assignment.start_datetime %}{{assignment.start_datetime}}{% else %}--{% endif %}<br>
    <b>End date: </b>{% if assignment.end_datetime %}{{assignment.end_datetime}}{% else %}--{% endif %}<br>
    <b>Grade: </b>{% if grade.earned_points %}{{grade.earned_points}}{% else %}--{% endif %}
    / {% if assignment.total_points %}{{assignment.total_points}}{% else %}--{% endif %}
    {% if grade.feedback %}
    <br><b>Feedback: </b>{{grade.feedback|linebreaksbr}}
    {% endif %}
</i></p>
<h3>Description:</h3>
<div class="card mb-3">
    <div class="card-body bg-light">
        {% autoescape off %}
        {{assignment.description.html |safe}}
        {% endautoescape %}
        <style>.card-body p {margin: 0}</style>
    </div>
</div>
<div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
    <h3>Submissions:</h3>
    <a href="{% url 'forum:newsubmission' assignment.id %}"><div class="btn btn-primary mb-2">+ New submission</div></a>
</div>
{% if submissions|length == 0 %}
No submissions yet!
{% endif %}
{% for submission in submissions %}
<div class="card mb-3">
    <div class="card-header"><i>{{submission.submit_datetime}}</i></div>
    <div class="card-body">
        {% autoescape off %}
        {{submission.details.html |safe}}
        {% endautoescape %}
        <style>.card-body p {margin: 0}</style>
    </div>
</div>
{% endfor %}
{% endblock %}