{% extends 'base.html' %}

{% block content %}
<form action="{% url 'forum:assignmentdetails' assignment.id %}" method="POST">
    {% csrf_token %}
    <h2>Assignment: <input name="title" type="text" value="{{assignment.title}}"></input></h2>
    <p><i>
        <b>Start date: </b><input name="start" type="datetime-local" value="{{assignment.start_datetime|date:'Y-m-d\Th:i A'}}"></input><br>
        <b>End date: </b><input name="end" type="datetime-local" value="{{assignment.end_datetime|date:'Y-m-d\Th:i A'}}"></input><br>
        <b>Total points: </b><input name="points" type="number" value="{{assignment.total_points}}"></input><br>
    </i></p>
    <p><b><i>Description:</i></b></p>
    <textarea name="description">{{assignment.description}}</textarea>
    <br>
    <input type="submit" value="Save changes">&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:var(--aristotle-blue)">{% if savedmessage %}{{savedmessage}}{% endif %}</span>
</form>
<h2>Review submissions:</h2>
<table>
    <tr>
        <th>Student</th>
        <th># Submissions</th>
        <th>Grade</th>
        <th>Percent grade</th>
        <th>Review submissions</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{student.username}}</td>
        <td>{{student.nosubmissions}}</td>
        <td>
            {% if student.grade %}{{student.grade}}{% else %}--{% endif %}
            / {% if assignment.total_points %}{{assignment.total_points}}{% else %}--{% endif %}
        </td>
        <td>{{student.percentgrade}}%</td>
        <td><a href="{{student.link}}"><div class="button">Review submission</div></a></td>
    </tr>
    {% endfor %}
</table>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }
    tr:hover {
        background-color: var(--light-aristotle-blue);
    }
    td, th {
        border: solid 1px var(--aristotle-blue);
        padding: 10px;
    }
    th {
        background-color: var(--aristotle-blue);
        color: white;
        text-align: left;
    }
</style>
{% endblock %}