{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Assignments</h2>
<div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
    {% if assignments|length > 0 %}<p>The assignments in <b>{{selected_course.name}}</b>.</p>{% else %}<p>No assignments yet!</p>{% endif %}
    <a href="{% url 'forum:newassignment' %}"><div class="button">Create a new assignment</div></a>
</div>
<table>
    <tr>
        <th>Assignment</th>
        <th>Start Date</th>
        <th>Due Date</th>
        <th>Submitted</th>
        <th>Graded</th>
    </tr>
    {% for assignment in assignments %}
    <tr onclick="location.href='{% url 'forum:assignmentdetails' assignment.id %}'" style="cursor:pointer" class="{% if assignment.graded == assignment.submitted %}done{% else %}not-done{% endif %}">
        <td>{% if assignment.graded != assignment.submitted %}&#8226;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}{{assignment.title}}</td>
        <td>{% if assignment.start_datetime != None %}{{assignment.start_datetime}}{% else %}--{% endif %}</td>
        <td>{% if assignment.end_datetime != None %}{{assignment.end_datetime}}{% else %}--{% endif %}</td>
        <td>{% if assignment.submitted != None %}{{assignment.submitted}}{% else %}--{% endif %}/{% if assignment.nostudents != None %}{{assignment.nostudents}}{% else %}--{% endif %}</td>
        <td>{% if assignment.graded != None %}{{assignment.graded}}{% else %}--{% endif %}/{% if assignment.submitted != None %}{{assignment.submitted}}{% else %}--{% endif %}</td>
    </tr>
    {% endfor %}
</table>
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<style>
    .done {
        background-color: var(--fog-gray)
    }
    .done:hover {
        background-color: var(--dark-fog-gray);
    }
    .not-done {
        font-weight: bold; color: var(--aristotle-blue)
    }
</style>
{% endblock %}
