{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Assignments</h2>
<div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
    {% if assignments|length > 0 %}<p>The assignments in <b>{{selected_course.name}}</b>.</p>{% else %}<p>No assignments yet!</p>{% endif %}
</div>
<table>
    <tr>
        <th>Assignment</th>
        <th>Start Date</th>
        <th>Due Date</th>
        <th>Grade</th>
        <th>Submitted</th>
    </tr>
    {% for assignment in assignments %}
    <tr onclick="location.href='{% url 'forum:assignmentdetails' assignment.id %}'" style="cursor: pointer;">
        <td>{{assignment.title}}</td>
        <td>{{assignment.start_datetime}}</td>
        <td>{{assignment.end_datetime}}</td>
        <td>{{assignment.earned_points}}</td>
        <td>{{assignment.submitted}}</td>
    </tr>
    
    {% endfor %}
</table>
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}
