{% extends 'base.html' %}

{% block content %}
<h2>Assignment: {{assignment.title}}</h2>
<p><i>
    <b>Start date: </b>{{assignment.start_datetime}}<br>
    <b>End date: </b>{{assignment.end_datetime}}<br>
    <b>Grade: </b>{% if grade.earned_points %}{{grade.earned_points}}{% else %}--{% endif %}
    / {% if assignment.total_points %}{{assignment.total_points}}{% else %}--{% endif %}
</i></p>
<h3>Description:</h3>
<p>{{assignment.description |linebreaksbr |safe}}</p>
<div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
    <h3>Submissions:</h3>
    <a href="{% url 'forum:newsubmission' assignment.id %}"><div class="button">New submission</div></a>
</div>
{% if submissions|length == 0 %}
No submissions yet!
{% endif %}
{% for submission in submissions %}
<div class="cutebox">
    <p><i>{{submission.submit_datetime}}</i></p>
    <p>{{submission.details}}</p>
</div>
{% endfor %}
<h3>Feedback:</h3>
{% if grade.feedback %}
<p>{{grade.feedback}}</p>
{% else %}
<p>No feedback yet!</p>
{% endif %}
{% endblock %}