{% extends 'base.html' %}

{% block content %}
<form action="{% url 'forum:assignmentdetails' assignment.id %}" method="POST">
    {% csrf_token %}
    <h2>Assignment: <input name="title" type="text" value="{{assignment.title}}"></input></h2>
    <p><i>
        <b>Start date: </b><input name="start" type="datetime-local" value="{{assignment.start_datetime|date:'Y-m-d\Th:m'}}"></input><br>
        <b>End date: </b><input name="end" type="datetime-local" value="{{assignment.end_datetime|date:'Y-m-d\Th:m'}}"></input><br>
    </i></p>
    <h3>Description:</h3>
    <textarea name="description">{{assignment.description}}</textarea>
    <br><br>
    <input type="submit" value="Save changes">&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:var(--aristotle-blue)">{% if savedmessage %}{{savedmessage}}{% endif %}</span>
</form>
<h3>Students:</h3>
{% endblock %}