{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>{{page_title}}</h2>
<div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
    {% if assignments|length > 0 %}<p>The assignments in <b>{{selected_course.name}}</b>.</p>{% else %}<p>No assignments yet!</p>{% endif %}
</div>

<form method="POST">
    {% csrf_token %}
    <div class="card bg-light">
        <div class="card-body">
            <label>Filter by module: <select name="modulefilter" class="form-select">
                {% for module in modules %}<option value="{{module.id}}">{{module.name}}</option>{% endfor %}
            </select></label>
            <input class="btn btn-primary" type="submit" value="Submit">
            <a href=""><div class="btn btn-danger" style="background-color: var(--button-red);">Clear</div></a>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Assignment</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Grade</th>
            <th>Submitted</th>
        </tr>
    </thead>
    <tbody>
    {% for assignment in assignments %}
        <tr onclick="location.href='{% url 'forum:assignmentdetails' assignment.id %}'" style="cursor: pointer">
            <td>{{assignment.title}}</td>
            <td>{% if assignment.start_datetime %}{{assignment.start_datetime}}{% else %}--{% endif %}</td>
            <td>{% if assignment.end_datetime %}{{assignment.end_datetime}}{% else %}--{% endif %}</td>
            <td>{% if assignment.earned_points %}{{assignment.earned_points}}{% else %}--{% endif %}
                / {% if assignment.total_points %}{{assignment.total_points}}{% else %}--{% endif %}</td>
            <td>
                {% if assignment.submitted %}
                Yes
                {% else %}
                <span class="badge bg-danger">No</span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="card">
    <div class="card-body bg-light">
        <b>Cumulative grade:</b> {{cum_num}}/{{cum_den}} &#8776; {% widthratio cum_num cum_den 100 %}%
    </div>
</div>
{% endblock %}
