{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Assignments</h2>
<div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
    {% if assignments|length > 0 %}<p>The assignments in <b>{{selected_course.name}}</b>.</p>{% else %}<p>No assignments yet!</p>{% endif %}
    <a href="{% url 'forum:newassignment' %}"><div class="btn btn-primary mb-3">+ New assignment</div></a>
</div>
<form method="POST" action="{% url 'forum:assignments' %}">
    {% csrf_token %}
    <div class="card bg-light">
        <div class="card-body">
            <label>Filter by module: <select name="modulefilter" class="form-select">
                {% for module in modules %}<option value="{{module.id}}">{{module.name}}</option>{% endfor %}
            </select></label>
            <input class="btn btn-primary" type="submit" value="Submit">
            <a href="{% url 'forum:assignments' %}"><div class="btn btn-danger" style="background-color: var(--button-red);">Clear</div></a>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Assignment</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Submitted</th>
            <th>Graded</th>
        </tr>
    </thead>
    <tbody>
        {% for assignment in assignments %}
        <tr onclick="location.href='{% url 'forum:assignmentdetails' assignment.id %}'" style="cursor:pointer">
            <td>{{assignment.title}}</td>
            <td>{% if assignment.start_datetime != None %}{{assignment.start_datetime}}{% else %}--{% endif %}</td>
            <td>{% if assignment.end_datetime != None %}{{assignment.end_datetime}}{% else %}--{% endif %}</td>
            <td>{% if assignment.submitted != None %}{{assignment.submitted}}{% else %}--{% endif %}/{% if assignment.nostudents != None %}{{assignment.nostudents}}{% else %}--{% endif %}</td>
            <td>
                <span {% if assignment.graded != assignment.submitted %}class="badge bg-danger"{% endif %}>
                {% if assignment.graded != None %}{{assignment.graded}}{% else %}--{% endif %}/{% if assignment.submitted != None %}{{assignment.submitted}}{% else %}--{% endif %}
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}
