{% extends 'base.html' %}

{% block content %}
<form action="{% url 'forum:assignmentdetails' assignment.id %}" method="POST">
    {% csrf_token %}
    <h2>Assignment: <input name="title" type="text" value="{{assignment.title}}"></input></h2>
    <p><i>
        <b>Start date: </b><input name="start" type="datetime-local" value="{{assignment.start_datetime|date:'Y-m-d\Th:m'}}"></input><br>
        <b>End date: </b><input name="end" type="datetime-local" value="{{assignment.end_datetime|date:'Y-m-d\Th:m'}}"></input><br>
    </i></p>
    <p><b><i>Description:</i></b></p>
    <textarea name="description">{{assignment.description}}</textarea>
    <br>
    <input type="submit" value="Save changes">&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:var(--aristotle-blue)">{% if savedmessage %}{{savedmessage}}{% endif %}</span>
</form>
<h2>Review submissions:</h2>
<table>
    <tr>
        <th>Student</th>
        <th># Submissions</th>
        <th>Grade</th>
        <th>Percent grade</th>
        <th>Review submissions</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{student.username}}</td>
        <td>{{student.nosubmissions}}</td>
        <td>{{student.grade}}</td>
        <td>{{student.percentgrade}}</td>
        <td><div class="button">Review submission</div></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}