{% extends 'base.html' %}

{% block content %}
{% include "navbar.html" %}
<h1>Explore</h1>
<form action="{% url 'forum:explore' %}" method="post">
    {% csrf_token %}
    <p>Search posts:</p>
    <input id="query" type="text" name="query" style="width:500px" required="required">
    <p>Sort results by:</p>
    <select class="customSelect" name="sortby" id="sortby" style="width:500px">
        <option value="date">Date published</option>
        <option value="alpha">Alphabetical</option>
        <option value="views">Views</option>
    </select>
    <br><br>
    <input class="fancyButton" type="submit" value="OK">
</form>
{% for post in posts %}
<div class="post_box" onclick='location.href="{% url 'forum:post' post.id %}";'>
    <h2>{{post.title}}
    {% if post.parentid != None %}<br><div style="font-size: 20px">⮨ Responding to <a href="{% url 'forum:post' post.parentid %}">"{{ post.parenttitle }}"</a> by <a href="{% url 'forum:account' post.parentauthor %}">{{ post.parentauthor }}</a></div>{% endif %}
    </h2>
    <p><i>By <a href="{% url 'forum:account' post.author %}">{{post.author}}</a> on {{post.created}}</i></p>
    <p>{% with broken=post.content|linebreaks %}{{broken|truncatechars:300}}{% endwith %}</p>
    <p>——<br><i>👁️ {{post.views}} views</i>
    {% if post.agreechecks > 0 %} &ensp;•&ensp; <i>👍 {% widthratio post.agrees post.agreechecks 100 %}% agree with this</i> {% endif %}
    {% if post.strongchecks > 0 %} &ensp;•&ensp; <i>💪 {% widthratio post.strongs post.strongchecks 100 %}% think this was a strong argument</i> {% endif %}
    </p>
</div>
<br>
{% endfor %}
{% endblock %}
