{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: row; flex-wrap: wrap">
    <div style="display: flex; flex-direction: column; flex: 2 2 auto">
        <div>
            <h2>HQ</h2>
            <p>
                Welcome to your <b>aristotle</b> HQ! Use the navigation bar to the left to manage your courses and students.
            </p>
        </div>
        <div style="max-width: 800px">
            <a href="https://github.com/dabslee/aristotle/blob/master/README.md" class="card placard">
                <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-between;">
                    <div>
                        <h5 class="card-title">Project README</h5>
                        <p>Check out the project's README.md on GitHub to learn about aristotle° as a programming project.</p>
                    </div>
                    <h2 class="bi bi-journal-text text-muted"></h2>
                </div>
            </a>
            <!-- <a href="" class="card placard">
                <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-between;">
                    <div>
                        <h5 class="card-title">User Guide</h5>
                        <p>Whether you're new to aristotle° or just want to learn how to use it better, check out this user guide to become an aristotle° expert.</p>
                    </div>
                    <h2 class="bi bi-clipboard-check text-muted"></h2>
                </div>
            </a> -->
            <a href="https://github.com/dabslee/aristotle/releases" class="card placard">
                <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-between;">
                    <div>
                        <h5 class="card-title">Dev Notes</h5>
                        <p>Check out the development notes to view previous versions of this project and keep track of feature additions.</p>
                    </div>
                    <h2 class="bi bi-window-sidebar text-muted"></h2>
                </div>
            </a>
        </div>
    </div>
    <div style="flex: 0 2 700px">
        <div class="card">
            <div class="card-header">Upcoming assignments (next 7 days)</div>
            <div class="card-body" style="padding: 15px 30px">
                {% for assn in assignments %}
                <a href="{% url 'forum:assignmentdetails' course_id=course.id assignment_id=assn.id %}" class="item">
                    <span>{{assn.title}}</span>
                    <span>{{assn.end_datetime}}</span>
                </a>
                {% endfor %}
                {% if assignments|length == 0 %}
                <span>No assignments due in the next 7 days!</span>
                {% endif %}
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">Pinned Courses</div>
            <div class="card-body" style="padding: 15px 30px">
                {% for course in pinnedcourses %}
                <div class="item">
                    <a href="{% url 'forum:setcourse' course_id=course.uuid %}">{{course.name}}</span>
                    <a href="{% url 'forum:removefrompinned' course_id=course.uuid %}"><i class="bi bi-x link-secondary"></i></a>
                </div>
                {% endfor %}
                {% if pinnedcourses|length == 0 %}
                <p>No pinned courses yet!</p>
                {% endif %}
                <form
                {% if course.id %}action="{% url 'forum:index' course_id=selected_course.uuid %}"{% else %}action="{% url 'forum:index' %}"{% endif %}
                method="post"
                style="display: flex; flex-direction: row; align-items: center; justify-content: center;"
                class="mt-2">
                    {% csrf_token %}
                    <select name="pinselect" class="form-select form-select-sm me-2" style="flex: 2 2 auto">
                        <option value="" disabled selected>Select a course</option>
                        {% for course in courses %}
                        <option value="{{course.id}}">{{course.name}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="btn btn-secondary btn-sm" value="Pin"></input>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .placard {
        margin-right: 50px;
        margin-bottom: 15px;
        color: black;
    }
    .placard:hover {
        box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    }
    .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>
{% endblock %}
