{% extends 'base.html' %}
{% load static %}

{% block title %}
Modules
{% endblock %}

{% block content %}
<h2>Modules</h2>
<form method="POST" action="{% url 'forum:modules' %}">
    {% csrf_token %}
    {% if selected_course.owner == request.user %}
    <div class="mb-3" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
        
        <div class="card bg-light">
            <div class="card-body" style="max-width: 500px; flex-direction: row; align-items: center">
                <label class="me-3" style="flex-grow: 1; min-width: fit-content">Assign selected to module:</label>
                <select name="moduleassign" class="form-select" style="display: inline-block; width: fit-content">
                    {% for module in modules %}<option value="{{module.id}}">{{module.name}}</option>{% endfor %}
                </select>
                <input type="submit" value="Submit" name="moduleassign-submit" class="btn btn-primary" style="width: fit-content; height: fit-content">
            </div>
        </div>

        <div style="display: flex; flex-direction: row; align-items: center;">
            <input onclick="return confirmDelete()" type="submit" value="Delete selected" name="delete-submit" class="btn btn-danger me-2">
            <a href="{% url 'forum:createmodule' %}"><div class="btn btn-primary">+ New module</div></a>
        </div>
    </div>
    <script>
        function confirmDelete() {
            if (confirm("Are you sure you would like to delete these items? This action is irreversible.")) {
                $("input[name='delete-submit']").submit();
            } else {
                return false;
            }
        }
    </script>
    {% endif %}

    <div class="accordion" id="module-accordion">
    {% for module in modules %}
        <div class="accordion-item">
            <h3 class="accordion-header" id="heading{{module.id}}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{module.id}}" aria-expanded="true" aria-controls="collapse{{module.id}}">
                    {{module.name}}
                </button>
            </h3>
            <div id="collapse{{module.id}}" class="accordion-collapse collapse show" aria-labelledby="heading{{module.id}}">
                <div class="accordion-body">
                    {% if module.assignments|length == 0 %}
                    <p>Module is empty!</p>
                    {% endif %}
                    <div class="list-group">
                        {% for assn in module.assignments %}
                        <label class="list-group-item" style="display: flex;">
                            {% if selected_course.owner == request.user %}
                            <input name="assignment-checkbox-{{assn.id}}" class="form-check-input me-3" type="checkbox" value="checked">
                            {% endif %}
                            <a href='{% url 'forum:assignmentdetails' assn.id %}' style="flex: 1 2 auto">
                                <div class="cutebox" style="background-color: var(--main-background-overlay); display: flex; flex-direction: row; justify-content: space-between;">
                                    <span>{{assn.title}}</span>
                                    <span>Due: {{assn.end_datetime}}</span>
                                </div>
                            </a>
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</form>
{% endblock %}
