{% extends 'base.html' %}

{% block title %}
New Assignment
{% endblock %}

{% block content %}
<h2>Create a new assignment</h2>
<form action="{% url 'forum:newassignment' %}" method="post" style="max-width: 800px;">
    {% csrf_token %}
    <div class="form-group">
        <label for="title">Title:</label>
        {{form.title}}
        <script>$("input[name='title']").addClass("form-control")</script>
    </div>
    <div class="form-group">
        <label for="start_datetime">Start:</label>
        {{form.start_datetime}}
        <script>$("input[name='start_datetime']").addClass("form-control")</script>
    </div>
    <div class="form-group">
        <label for="end_datetime">Deadline:</label>
        {{form.end_datetime}}
        <script>$("input[name='end_datetime']").addClass("form-control")</script>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        {{form.description}}
        <script>$("textarea[name='description']").addClass("form-control")</script>
    </div>
    <div class="form-group">
        <label for="total_points">Total points:</label>
        {{form.total_points}}
        <script>$("input[name='total_points']").addClass("form-control")</script>
    </div>
    <div class="form-group">
        <label for="module">Module:</label>
        {{form.module}}
        <script>$("select[name='module']").addClass("form-select")</script>
    </div>
    <input class="btn btn-primary mt-3" type="submit" value="Submit">

    <script>
        document.getElementsByName("start_datetime")[0].type = "datetime-local";
        document.getElementsByName("end_datetime")[0].type = "datetime-local";
        document.getElementsByTagName("select")[0].innerHTML += `<option value="No module">No module</option>`;
    </script>
    {% for assnmodule in modules %}
    <script>
        document.getElementsByTagName("select")[0].innerHTML += `<option value="{{assnmodule}}">{{assnmodule}}</option>`;
    </script>
    {% endfor %}
</form>
{% endblock %}
