{% extends 'base.html' %}

{% block title %}
New Submission
{% endblock %}

{% block content %}
<h2>New submission for "{{assignment.title}}"</h2>
<p><i>
    <b>Start date: </b>{% if assignment.start_datetime %}{{assignment.start_datetime}}{% else %}--{% endif %}<br>
    <b>End date: </b>{% if assignment.end_datetime %}{{assignment.end_datetime}}{% else %}--{% endif %}<br>
    <b>Grade: </b>{% if grade.earned_points %}{{grade.earned_points}}{% else %}--{% endif %}
    / {% if assignment.total_points %}{{assignment.total_points}}{% else %}--{% endif %}
    {% if grade.feedback %}
    <br><b>Feedback: </b>{{grade.feedback|linebreaksbr}}
    {% endif %}
</i></p>
<h3>Description:</h3>
<div class="card mb-3">
    <div class="card-body bg-light">
        {% autoescape off %}
        {{assignment.description.html |safe}}
        {% endautoescape %}
        <style>.card-body p {margin: 0}</style>
    </div>
</div>
<form action="{% url 'forum:newsubmission' course_id=selected_course.uuid assignment_id=assignment.id %}" method="post">
    {% csrf_token %}
    <h3>Text submission:</h3>
    {{form.details}}
    <script>$("textarea[name='details']").addClass("form-control")</script>
    <input type="submit" value="Submit" class="btn btn-primary mt-3">
</form>
{% endblock %}
