{% extends 'base.html' %}

{% block content %}
{% include "navbar.html" %}
<h1>{{post.title}}
{% if post.parentid != None %}<br><div style="font-size: 20px; color:gray">⮨ Responding to <a href="{% url 'forum:post' post.parentid %}">"{{ post.parenttitle }}"</a> by <a href="{% url 'forum:account' post.parentauthor %}">{{ post.parentauthor }}</a></div>{% endif %}
</h1>
<p><i>By <a href="{% url 'forum:account' post.author %}">{{post.author}}</a> on {{post.created}}</i></p>
<p>{{ post.content|linebreaks }}</p>
<p>——<br>
<i>👁️ {{post.views}} views<br>
👍 {% if post.agreechecks > 0 %}
{% widthratio post.agrees post.agreechecks 100 %}% agree with this
{% else %}
Be the first to agree or disagree!
{% endif %}
<a href="{% url 'forum:agree' post.id %}" style="{% if agreed %}color: limegreen{% else %}color: lightgray{% endif %}; text-decoration: none;">▲</a>&ensp;
<a href="{% url 'forum:disagree' post.id %}" style="{% if disagreed %}color: red{% else %}color: lightgray{% endif %}; text-decoration: none;">▼</a>
<br>
💪 {% if post.strongchecks > 0 %}
{% widthratio post.strongs post.strongchecks 100 %}% think this was a strong argument
{% else %}
Be the first to judge the article as strong or weak!
{% endif %}
<a href="{% url 'forum:strong' post.id %}" style="{% if stronged %}color: limegreen{% else %}color: lightgray{% endif %}; text-decoration: none;">▲</a>&ensp;
<a href="{% url 'forum:weak' post.id %}" style="{% if weaked %}color: red{% else %}color: lightgray{% endif %}; text-decoration: none;">▼</a>
</i>
</p>
<h2>Responses:</h2>
<p><a href="{% url 'forum:respond_post' post.id %}" style="text-decoration: none;">⮨ Respond to this post.</a></p>
{% if responses|length == 0 %}
<p>No responses yet</p>
{% endif %}
{% for post in responses %}
<div class="post_box" onclick='location.href="{% url 'forum:post' post.id %}";'>
    <h2>{{post.title}}</h2>
    <p><i>By <a href="{% url 'forum:account' post.author %}">{{post.author}}</a> on {{post.created}}</i></p>
    <p>{% with broken=post.content|linebreaks %}{{broken|truncatechars:300}}{% endwith %}</p>
    <p>——<br><i>👁️ {{post.views}} views</i>
    {% if post.agreechecks > 0 %} &ensp;•&ensp; <i>👍 {% widthratio post.agrees post.agreechecks 100 %}% agree with this</i> {% endif %}
    {% if post.strongchecks > 0 %} &ensp;•&ensp; <i>💪 {% widthratio post.strongs post.strongchecks 100 %}% think this was a strong argument</i> {% endif %}
    </p>
</div>
<br>
{% endfor %}
{% endblock %}
