{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>{{student.username}}'s Assignments</h2>
<div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
    {% if assignments|length > 0 %}<p>The assignments in <b>{{selected_course.name}}</b> submitted by <b>{{student.username}}</b>.</p>{% else %}<p>No assignments yet!</p>{% endif %}
</div>
<table>
    <tr>
        <th>Assignment</th>
        <th>Start Date</th>
        <th>Due Date</th>
        <th>Grade</th>
        <th>Submitted</th>
    </tr>
    {% for assignment in assignments %}
    <tr onclick="location.href='{% url 'forum:assignmentdetails' assignment.id %}'" style="cursor: pointer" class="{% if assignment.submitted %}done{% else %}not-done{% endif %}">
        <td>{% if not assignment.submitted %}&#8226;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}{{assignment.title}}</td>
        <td>{% if assignment.start_datetime %}{{assignment.start_datetime}}{% else %}--{% endif %}</td>
        <td>{% if assignment.end_datetime %}{{assignment.end_datetime}}{% else %}--{% endif %}</td>
        <td>{% if assignment.earned_points != None %}{{assignment.earned_points}}{% else %}--{% endif %}
            / {% if assignment.total_points != None %}{{assignment.total_points}}{% else %}--{% endif %}</td>
        <td>{% if assignment.submitted %}Yes{% else %}No{% endif %}</td>
    </tr>
    <link rel="stylesheet" href="{% static 'css/done.css' %}">
    {% endfor %}
</table>
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<p><b>Cumulative grade:</b> {{cum_num}}/{{cum_den}} &#8776; {% widthratio cum_num cum_den 100 %}%</p>
{% endblock %}
