{% extends 'base.html' %}

{% block title %}
Students
{% endblock %}

{% block content %}
<h2>Students</h2>

<div class="card me-3 mb-3">
    <div class="card-header">
        Students
    </div>
    <div class="card-body">
        {% if students|length > 0 %}<p>The students in <b>{{selected_course.name}}</b>. Click on the student to view their grades.</p>{% else %}<p>No students yet!</p>{% endif %}
        <div class="list-group mb-3">
            {% for student in students %}
            <a href="{% url 'forum:studentgrades' student.id %}" class="list-group-item list-group-item-action">
                {{student.username}}
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<p>To invite someone to join this course (<b>{{selected_course.name}}</b>), ask them to enter the following UUID on their "Courses" page:</p>
<div class="card bg-light" style="user-select: all;" onclick="copy()">
    <div class="card-body">
        <i class="bi bi-clipboard text-muted me-3"></i>
        <code>{{selected_course.uuid}}</code>
    </div>
</div>

<script>
    function copy(){
        document.execCommand('copy');
        alert("Copied to clipboard");
    }
</script>
{% endblock %}
