{% load static %}

<html>
    <head>
        <title>aristotle</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <a href="{% url 'home' %}">
            <div id=pagehead>
                <div style="display:flex; flex-direction: row; align-items: center;">
                    aristotle°
                </div>
                <div style="font-weight: normal">
                    {{selected_course.name}}
                </div>
            </div>
        </a>
        <div id="fullcontainer">
            {% if username %}
            <div id="navbar">
                <ul>
                    <a href="{% url 'home' %}"><li>Home</li></a>
                    <a href="{% url 'forum:courses' %}"><li>Courses</li></a>
                    {% if selected_course %}
                    {% if selected_course.owner == request.user %}<a href="{% url 'forum:students' %}"><li>Students</li></a>{% endif %}
                    <a href="{% url 'forum:assignments' %}"><li>Assignments</li></a>
                    {% endif %}
                </ul>
                <ul>
                    <li>Logged in as <b>{{username}}</b></li>
                    <a href="{% url 'authentication:logout' %}"><li>Log Out</li></a>
                </ul>
            </div>
            {% endif %}
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>