<div class="card">
    <div class="card-header" style="display: flex; flex-direction: row;">
        <span class="me-5">Project README.md</span>
        <a href="https://github.com/dabslee/aristotle"><i class="bi bi-github me-2"></i>Visit the project GitHub!</a>
    </div>
    <iframe class="card-body" src="https://rawcdn.githack.com/dabslee/aristotle/cfd88d067d987ece3049489258975ea78c7083e0/README.md"></iframe>
</div>
<style>
    iframe {
        min-height: 40vh;
        width: 100%;
        overflow: visible;
    }
</style>