<h2>Dev Notes</h2>
<p>
    Site designed and built by <a href="http://brandonssandbox.com/">Brandon Lee</a>. Code available <a href="http://github.com/dabslee/aristotle">here</a>. Feel free to contribute by contacting me or sending pull requests!
</p>
<ul>
    <li>
        <b>6/19/2021 (v.0.1.1):</b> Patch refining existing features:
        <ul>
            <li>Clicking on students on the Students page for teachers now shows a tabular summary of the student assignments.</li>
            <li>Assignment page for students and teachers has been switched from a simple list of assignment names to a tabular summary of grades and submissions.</li>
            <li>UI improvements such as clearer course selection and render distinctions between finished and unfinished / graded and ungraded assignments.</li>
            <li>Bug fixes.</li>
        </ul>
    </li><br>
    <li>
        <b>6/13/2021 (v0.1.0):</b> Skeleton release. Many bugs and incomplete pages. Key features include:
        <ul>
            <li>Creating courses as a teacher and joining them as a student using the course UUID.</li>
            <li>Creating assignments as a teacher and grading student submissions.</li>
            <li>Submitting text submissions to assignments as a student and viewing the grades once available.</li>
        </ul>
    </li>
</ul>