{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Welcome!</h2>
<p>
    Welcome to <a href="{% url 'home' %}">aristotle.com</a>, a free learning management system for tutors, parents, and students. <a href="{% url 'authentication:login' %}">Log in</a> or <a href="{% url 'authentication:signup' %}">register</a> in order to get started.
</p>
<div style="display: flex; flex-direction: row;">
    <a href="{% url 'authentication:login' %}"><div class="button" style="margin-right: 10px">Log In</div></a>
    <a href="{% url 'authentication:signup' %}"><div class="button">Sign Up</div></a>
</div>
<h2>Development</h2>
<p>
    Site designed and built by <a href="http://brandonssandbox.com/">Brandon Lee</a>. Code available <a href="http://github.com/dabslee/aristotle">here</a>. Feel free to contribute by contacting me or sending pull requests!
</p>
{% endblock %}